h1 MobiControl

javascript: setUpDeviceEventTracer();

div id='orient-print' orientation
div id='motion-print' motion
div id='slider-print' slider

form
  input type="range" name="slider-1" id="slider-1" min="0" max="100" value="50" onchange="pushParams( { 'slider': this.value } );"
